<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>userAddServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.userAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userFindServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.userFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDeleteServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.userDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logInServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.logInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionAddServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.QuestionAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionFindServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.QuestionFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionFindByIdServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.QuestionFindByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionDeleteByIdServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.QuestionDeleteByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionUpDateServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.QuestionUpDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionRandServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.QuestionRandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>com.bjpowernode.controller.ExamServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/question/exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionRandServlet</servlet-name>
        <url-pattern>/question/rand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionUpDateServlet</servlet-name>
        <url-pattern>/question/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionDeleteByIdServlet</servlet-name>
        <url-pattern>/question/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionFindByIdServlet</servlet-name>
        <url-pattern>/question/findById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionFindServlet</servlet-name>
        <url-pattern>/question/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionAddServlet</servlet-name>
        <url-pattern>/question/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logInServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDeleteServlet</servlet-name>
        <url-pattern>/user/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userFindServlet</servlet-name>
        <url-pattern>/user/Find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userAddServlet</servlet-name>
        <url-pattern>/user/Add</url-pattern>
    </servlet-mapping>


    <!--欢迎文件注册-->
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <welcome-file>user/login</welcome-file>
        <!--当Servlet作为默认欢迎文件时，user前的默认斜线要去掉-->
    </welcome-file-list>

    <!--监听器注册-->
    <listener>
        <listener-class>com.bjpowernode.Listener.ServletConetextListener</listener-class>
    </listener>

    <!--过滤器注册-->
    <filter>
        <filter-name>oneFilter</filter-name>
        <filter-class>com.bjpowernode.Filter.oneFilter</filter-class>
    </filter>
    <!--过滤器添加过滤文件-->
    <filter-mapping>
        <filter-name>oneFilter</filter-name>
        <url-pattern>/.jpg</url-pattern><!--这里过滤器就先放弃不过滤了，如果/*过滤会出现未知问题-->
    </filter-mapping>

</web-app>