# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JSP代码\在线考试---Servlet+JSP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
